<ul id="footer-links">
  <a href="/">Home</a>
  <a href="https://twitter.com/aexmachina">Twitter</a>
  <a href="https://github.com/aexmachina">Github</a>
  <a href="{{@blog.url}}/rss/" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(); return false;">Subscribe</a>
</ul>
