<nav>
  <a href="{{@blog.url}}">Home</a>
  <a href="https://github.com/aexmachina" class="github">Github</a>
  <a href="{{@blog.url}}/rss/" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(); return false;">Subscribe</a>
</nav>
